/* dropdownlist 控件的下拉出来的表格的样式 border-color:#B8B7B7;	*/
#fc_list 
{
	font-size:12px;
}  
/* 下拉列表中的表格首行td */
#fc_list .firstrow td
{ 
	border-left:1px solid #B8B7B7; border-top: 2px solid #B8B7B7; border-bottom: 1px solid #B8B7B7; border-right:1px solid #B8B7B7;
	FONT-SIZE:12px;FONT-WEIGHT:bold;height:20px;background:url(../images/dropdownlist_background.gif);
}
/*斑马纹,即每隔行的样式   */
#fc_list .pertworow
{
	background-color:#FAFDFF; 
	/*BORDER-BOTTOM: #848284 1px solid;*/
}
/*找到行的样式*/
#fc_list .findrow
{
	color:Red;
}
/*选择行的样式*/
#fc_list .selectrow
{
	background-color:blue;color:White;
}



/*iframe的body*/
/*
#fc_list .pertworow td
{
    height:20px;    
}


BODY 
{
	background-color:white;

	scrollbar-3dlight-color : #f0f8ff; 
	scrollbar-highlight-color :  #6868FF; 
	scrollbar-face-color : #9CC9F0; 
	scrollbar-arrow-color : #5AA5E6; 
	scrollbar-shadow-color :  #6868FF; 
	scrollbar-darkshadow-color :#f0f8ff; 
	scrollbar-base-color : #f0f8ff; 
	scrollbar-track-color : #f0f8ff; 
}*/