/* dropdownlist 控件的下拉出来的表格的样式 */
#fc_list 
{
	font-size:12;border-color:#5AA5E6;	
}  
/* 下拉列表中的表格首行td */
#fc_list .firstrow td
{
	border-left:1px solid white; border-top: 2px solid white; border-bottom: 1px solid #5AA5E6; border-right:1px solid #5AA5E6;background-color:#8CBEE9  
}
/*斑马纹,即每隔行的样式   */
#fc_list .pertworow
{
	background-color:#FFFFFC;
}
/*找到行的样式*/
#fc_list .findrow
{
	color:Red;
}
/*选择行的样式*/
#fc_list .selectrow
{
	background-color:blue;color:White;
}
/*iframe的body*/
 
	 