
TABLE.Toolbar
{
	BORDER-RIGHT: #FFFFFF 1px solid;
}
TABLE.Toolbar TD
{
	BACKGROUND-COLOR: #FFFFFF;
	BORDER-BOTTOM: #FFFFFF	1px solid;
	BORDER-RIGHT: #FFFFFF 1px solid;
	BORDER-TOP:	#FFFFFF	1px solid;
	HEIGHT: 27px;
	LEFT: 0px;
	POSITION: relative;
	TOP: 0px;
}
BODY
{
	BACKGROUND-COLOR:#FFFFFF;
	MARGIN: 0px;
	PADDING: 0px;
}
