PRE.exception {
	FONT-SIZE: 145%
}
BODY {
	MARGIN: 0px; COLOR: #333
}
TD {
	MARGIN: 0px; COLOR: #333
}
BODY {
	BACKGROUND-POSITION: left top; FONT-SIZE: 75%; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: 'Arial', 'Helvetica', sans-serif; BACKGROUND-COLOR: #fff
}
A {
	COLOR: #333
}
A:hover {
	TEXT-DECORATION: underline
}
TH {
	FONT-WEIGHT: bold; WHITE-SPACE: nowrap; TEXT-ALIGN: left
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	DISPLAY: inline; FONT-SIZE: 100%; MARGIN: 0px; FONT-FAMILY: 'Verdana', 'Geneva', sans-serif
}
H2 {
	DISPLAY: inline; FONT-SIZE: 100%; MARGIN: 0px; FONT-FAMILY: 'Verdana', 'Geneva', sans-serif
}
H3 {
	DISPLAY: inline; FONT-SIZE: 100%; MARGIN: 0px; FONT-FAMILY: 'Verdana', 'Geneva', sans-serif
}
H4 {
	DISPLAY: inline; FONT-SIZE: 100%; MARGIN: 0px; FONT-FAMILY: 'Verdana', 'Geneva', sans-serif
}
H5 {
	DISPLAY: inline; FONT-SIZE: 100%; MARGIN: 0px; FONT-FAMILY: 'Verdana', 'Geneva', sans-serif
}
H6 {
	DISPLAY: inline; FONT-SIZE: 100%; MARGIN: 0px; FONT-FAMILY: 'Verdana', 'Geneva', sans-serif
}
TEXTAREA {
	FONT-SIZE: 100%; FONT-FAMILY: 'Arial', 'Helvetica', sans-serif
}
SELECT {
	COLOR: #000
}
SELECT OPTION {
	FONT-SIZE: 100%
}
SELECT OPTGROUP {
	FONT-SIZE: 100%
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
DL {
	MARGIN-LEFT: 1em
}
DT {
	FONT-WEIGHT: bold
}
FIELDSET LEGEND {
	FONT-WEIGHT: bold; COLOR: black
}
FIELDSET UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UL LI {
	PADDING-LEFT: 0px; MARGIN-LEFT: 1.5em
}
OL LI {
	PADDING-LEFT: 0px; MARGIN-LEFT: 1.5em
}
INPUT {
	PADDING-TOP: 0px
}
.hidden {
	DISPLAY: none
}
.outer {
	MARGIN: 0px
}
.outer TD.oRight {
	PADDING-RIGHT: 10px; PADDING-LEFT: 210px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
.bodyDiv {
	POSITION: relative; HEIGHT: 100%
}
.outer TD {
	VERTICAL-ALIGN: top
}
.bPageFooter {
	PADDING-RIGHT: 0px; BORDER-TOP: #e8e8e8 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; LINE-HEIGHT: 1.8em; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.btn {
	BORDER-RIGHT: #5c5d61 1px solid; PADDING-RIGHT: 3px; BACKGROUND-POSITION: left top; DISPLAY: inline; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 80%; BACKGROUND-IMAGE: url(/img/bgButton.gif); PADDING-BOTTOM: 1px; CURSOR: pointer; COLOR: #ffffff; BORDER-TOP-STYLE: none; PADDING-TOP: 1px; BORDER-BOTTOM: #5c5d61 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: 'Verdana', 'Geneva', sans-serif; BORDER-LEFT-STYLE: none
}
.btnCancel {
	BORDER-RIGHT: #5c5d61 1px solid; PADDING-RIGHT: 3px; BACKGROUND-POSITION: left top; DISPLAY: inline; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 80%; BACKGROUND-IMAGE: url(/img/bgButton.gif); PADDING-BOTTOM: 1px; MARGIN-LEFT: 2em; CURSOR: pointer; COLOR: #ffffff; BORDER-TOP-STYLE: none; PADDING-TOP: 1px; BORDER-BOTTOM: #5c5d61 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: 'Verdana', 'Geneva', sans-serif; BORDER-LEFT-STYLE: none
}
.btn {
	MARGIN: 0px 2px
}
.bPageBlock {
	CLEAR: both; BACKGROUND-POSITION: left bottom; BORDER-TOP: #222 4px solid; BACKGROUND-IMAGE: url(/img/bgPageBlockLeft.gif); MARGIN-BOTTOM: 9px; PADDING-BOTTOM: 9px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #222
}
.bPageBlock .pbError {
	FONT-WEIGHT: bold; COLOR: #c00; TEXT-ALIGN: center
}
.bPageBlock .pbHeader {
	PADDING-BOTTOM: 2px; MARGIN: 0px 2px 0px 0px; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #eeecd1
}
.pbSubheader {
	PADDING-RIGHT: 2px; MARGIN-TOP: 15px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 91%; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; OVERFLOW: hidden; PADDING-TOP: 2px; BACKGROUND-COLOR: #222
}
.first {
	MARGIN-TOP: 0px
}
.pbSubheader .pbSubExtra {
	FLOAT: right; MARGIN-RIGHT: 2em
}
.detailPage .bPageBlock {
	BORDER-TOP-WIDTH: 7px
}
.bPageBlock .pbTitle {
	FONT-SIZE: 91%; MARGIN: 0px; VERTICAL-ALIGN: middle; WIDTH: 30%; COLOR: #222
}
.bPageBlock .pbTitle IMG.minWidth {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; VISIBILITY: hidden; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px -1px; WIDTH: 190px; PADDING-TOP: 0px; HEIGHT: 1px; BORDER-RIGHT-WIDTH: 0px
}
.bPageBlock .pbHeader TABLE {
	WIDTH: 100%; border-spacing: 0
}
.bPageBlock .pbBottomButtons TABLE {
	WIDTH: 100%; border-spacing: 0
}
.bPageBlock .pbDescription {
	TEXT-ALIGN: right
}
.bPageBlock .pbDescription SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 91%; PADDING-BOTTOM: 5px; PADDING-TOP: 3px
}
.bPageBlock .pbHeader SELECT {
	FONT-SIZE: 91%; MARGIN: 1px 7px 0px 0px
}
.bPageBlock .pbBottomButtons SELECT {
	FONT-SIZE: 91%; MARGIN: 1px 7px 0px 0px
}
.pbHeader .pbTitle H2 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 4px; COLOR: #333; PADDING-TOP: 0px
}
.pbHeader .pbTitle H3 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 4px; COLOR: #333; PADDING-TOP: 0px
}
.bPageBlock .pbBody {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 4px; MARGIN-RIGHT: 2px; PADDING-TOP: 6px; BACKGROUND-COLOR: #f3f3ec
}
.bPageBlock .pbFooter {
	BACKGROUND-POSITION: right bottom; DISPLAY: block; FLOAT: right; BACKGROUND-IMAGE: url(/img/bgPageBlockRight.gif); WIDTH: 9px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 9px; BACKGROUND-COLOR: #222
}
.bWizardBlock .pbFooter {
	BACKGROUND-POSITION: right bottom; DISPLAY: block; FLOAT: right; BACKGROUND-IMAGE: url(/img/bgPageBlockRight.gif); WIDTH: 9px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 9px; BACKGROUND-COLOR: #222
}
.bPageBlock .pbBottomButtons {
	MARGIN: 1px 2px 0px 0px; BACKGROUND-COLOR: #f3f3ec
}
.bPageBlock .detailList {
	WIDTH: 100%
}
.bPageBlock .detailList TH {
	VERTICAL-ALIGN: top
}
.bPageBlock .detailList TD {
	VERTICAL-ALIGN: top
}
.bPageBlock .labelCol {
	PADDING-RIGHT: 10px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 91%; PADDING-BOTTOM: 2px; COLOR: #333; PADDING-TOP: 2px; TEXT-ALIGN: right
}
.bPageBlock .detailList .labelCol {
	WIDTH: 18%
}
.bPageBlock .detailList .data2Col {
	PADDING-RIGHT: 2px; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; WIDTH: 82%; PADDING-TOP: 2px; TEXT-ALIGN: left
}
.bEditBlock .detailList .data2Col {
	PADDING-RIGHT: 2px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.bPageBlock .detailList TR TD {
	BORDER-BOTTOM: #e3deb8 1px solid
}
.bPageBlock .detailList TR TH {
	BORDER-BOTTOM: #e3deb8 1px solid
}
.bPageBlock .detailList TH.last {
	BORDER-BOTTOM-STYLE: none
}
.bPageBlock .detailList TD.last {
	BORDER-BOTTOM-STYLE: none
}
.bLayoutBlock .detailList TR TD {
	BORDER-BOTTOM-STYLE: none
}
.bLayoutBlock .detailList TR TH {
	BORDER-BOTTOM-STYLE: none
}
.bPageBlock .detailList TABLE TD {
	BORDER-BOTTOM-STYLE: none
}
.bPageBlock .detailList TABLE TH {
	BORDER-BOTTOM-STYLE: none
}
.pbBody .bPageBlock .pbHeader {
	COLOR: #fff
}
.pbBody .bPageBlock .pbTitle {
	COLOR: #fff
}
.bWizardBlock {
	MARGIN-RIGHT: 11px; BORDER-BOTTOM: #747e96 2px solid
}
.bWizardBlock .pbWizardTitle {
	PADDING-RIGHT: 15px; BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 15px; FONT-WEIGHT: bold; PADDING-BOTTOM: 6px; COLOR: white; PADDING-TOP: 2px; BACKGROUND-REPEAT: repeat-x
}
.bWizardBlock .pbWizardTitle .ptRightTitle {
	FLOAT: right
}
.bWizardBlock .pbWizardHeader {
	MARGIN-BOTTOM: 6px
}
.bWizardBlock .pbDescription {
	CLEAR: right; FONT-SIZE: 109%; COLOR: #333
}
.bWizardBlock .pbTopButtons {
	COLOR: #333
}
.bWizardBlock .pbTopButtons LABEL {
	FONT-SIZE: 109%
}
.bWizardBlock .pbTopButtons #navsel {
	FONT-SIZE: 91%
}
.bWizardBlock .pbBody {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(/img/bgScanline.gif); PADDING-BOTTOM: 2px; PADDING-TOP: 6px; BACKGROUND-REPEAT: repeat; BACKGROUND-COLOR: #f3f3ec
}
.bWizardBlock FIELDSET {
	BACKGROUND-COLOR: white
}
.bWizardBlock .pbWizardBody {
	CLEAR: both
}
.bWizardBlock .pbWizardFooter {
	OVERFLOW: hidden; HEIGHT: 1%
}
.bWizardBlock .pbWizardHeader {
	OVERFLOW: hidden; HEIGHT: 1%
}
.bWizardBlock .pbTopButtons {
	FLOAT: right; MARGIN: 2px 5px 2px 1em
}
.bWizardBlock .pbBottomButtons {
	FLOAT: right; MARGIN-RIGHT: 5px
}
.bWizardBlock .bPageBlock {
	MARGIN: 0px
}
.bWizardBlock .pbBody .bPageBlock {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.bWizardBlock .pbBody .bPageBlock .pbFooter {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.bWizardBlock .pbBody .bPageBlock .pbHeader {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.bWizardBlock .bPageBlock .pbTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.bWizardBlock .bPageBlock .pbBody {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.bWizardBlock .bPageBlock .detailList TR TD {
	BORDER-BOTTOM-STYLE: none
}
.bWizardBlock .bPageBlock .detailList TR TH {
	BORDER-BOTTOM-STYLE: none
}
.bWizardBlock .bPageBlock .detailList .labelCol {
	BACKGROUND-COLOR: #f3f3ec
}
.bWizardBlock .bPageBlock .detailList .data2Col {
	BACKGROUND-COLOR: #f3f3ec
}
.bWizardBlock .bPageBlock .detailList .detailRow {
	BACKGROUND-COLOR: #f3f3ec
}
.bWizardBlock .bRelatedList .bPageBlock .pbBody {
	BACKGROUND-COLOR: #f3f3ec
}
.bWizardBlock .pbWizardTitle {
	BACKGROUND-COLOR: black
}
.bWizardBlock .pbSubheader {
	BACKGROUND-COLOR: black
}
.bWizardBlock .pbHeader .pbTitle H2 {
	COLOR: #fff
}
.bWizardBlock .pbHeader .pbTitle H3 {
	COLOR: #fff
}
BODY .bPageTitle .secondaryPalette {
	COLOR: #fff
}
BODY .bPageTitle .secondaryPalette A {
	COLOR: #fff
}
BODY .pbSubheader {
	COLOR: #fff
}
BODY .pbSubheader A {
	COLOR: #fff
}
.pbBody {
	COLOR: #000
}
.pbBody A {
	COLOR: #000
}
.pbBody TD {
	COLOR: #000
}
.lbBody A {
	COLOR: #000
}
TD SELECT {
	MARGIN-BOTTOM: 1px
}
.outer {
	POSITION: relative
}
.infoIcon {
	BACKGROUND-IMAGE: url(/img/func_icons/util/info16.gif); WIDTH: 16px; HEIGHT: 16px
}
.btn {
	OVERFLOW: visible; WIDTH: 1px
}
.mouseOverInfo {
	FILTER: alpha(opacity=0)
}
.bWizardBlock .pbWizardTitle {
	HEIGHT: 1%
}
.bPageBlock .pbDescription {
	HEIGHT: 1%
}
.pbHeader {
	HEIGHT: 1%
}
.bWizardBlock .pbBody .pbWizardHeader {
	HEIGHT: 1%
}
.bWizardBlock .pbDescription {
	HEIGHT: 1%
}
.bWizardBlock .pbWizardBody {
	HEIGHT: 1%
}
.pbBody {
	BORDER-BOTTOM: #f3f3ec 1px solid
}
BODY {
	FONT-SIZE: 75%
}
.btn {
	FONT-WEIGHT: normal; FONT-SIZE: 90%; PADDING-BOTTOM: 0px; PADDING-TOP: 1px
}
.bPageBlock {
	FONT-SIZE: 105%
}
.bPageBlock .detailList .labelCol {
	WHITE-SPACE: nowrap
}
SELECT {
	FONT-FAMILY: 'Arial', 'Helvetica', sans-serif
}
.setupTab .tertiaryPalette {
	BORDER-LEFT-COLOR: #8e9dbe; BORDER-BOTTOM-COLOR: #8e9dbe; BORDER-TOP-COLOR: #8e9dbe; BACKGROUND-COLOR: #8e9dbe; BORDER-RIGHT-COLOR: #8e9dbe
}
.fieldType .bPageBlock {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.fieldType .bPageBlock .pbFooter {
	DISPLAY: none
}
.fieldType .bPageBlock .pbBody {
	PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
.fieldType .bPageBlock .pbSubheader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1px 0px; LINE-HEIGHT: 0; PADDING-TOP: 0px; HEIGHT: 2px
}
.fieldType .bPageBlock .first {
	PADDING-RIGHT: 2px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; LINE-HEIGHT: 1.2em; PADDING-TOP: 2px; HEIGHT: auto
}
.fieldType .bPageBlock .pbHeader {
	DISPLAY: none
}
.fieldType .bPageBlock .detailList .labelCol {
	FONT-WEIGHT: bold; WIDTH: 30%; COLOR: #369; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #eee; TEXT-ALIGN: left
}
.fieldType .bPageBlock .detailList .labelCol .disabled {
	COLOR: #999
}
.fieldType .bPageBlock .detailList .data2Col {
	PADDING-RIGHT: 4px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 0.7em; PADDING-BOTTOM: 4px; WIDTH: 70%; COLOR: black; LINE-HEIGHT: 15px; PADDING-TOP: 4px; BACKGROUND-COLOR: #e5e5e5
}
.fieldType .bPageBlock .detailList .data2Col UL {
	PADDING-LEFT: 0px; MARGIN: 2px 0px
}
.setupTab .outer .oRight {
	PADDING-LEFT: 10px
}
.setupTab .bWizardBlock .pbWizardTitle {
	BACKGROUND-IMAGE: url(/img/bgSetupWizard.gif)
}