.buttonpage
{
    top:10;
    height:17;
    WIDTH: 20px;
    BORDER-BOTTOM: 0px; 
    BORDER-LEFT: 0px; 
    BORDER-RIGHT: 0px; 
    BORDER-TOP: 0px;
    CURSOR: hand;    
    FONT-VARIANT: small-caps;
  
}
.buttonpageno
{
    top:10;
    height:17;
    WIDTH: 40px;
    BORDER-BOTTOM: 0px; 
    BORDER-LEFT: 0px; 
    BORDER-RIGHT: 0px; 
    BORDER-TOP: 0px;
    FONT-VARIANT: small-caps;
    text-Align:center;
  
}
BODY {
	COLOR: #000000; FONT-FAMILY: "ו"; FONT-SIZE: 12px; 
	scrollbar-face-color: #DEE3E7; scrollbar-highlight-color: #FFFFFF; scrollbar-shadow-color: #DEE3E7; scrollbar-3dlight-color: #D1D7DC; scrollbar-arrow-color: #006699; scrollbar-track-color: #EFEFEF; scrollbar-darkshadow-color: #98AAB1
}
TD {
	COLOR: #000000; FONT-FAMILY: "ו"; FONT-SIZE: 12px;cursor:hand;
}

