.FormatTab 
{
	BORDER-RIGHT: #000000 1px dotted;
	BORDER-TOP: #000000 1px dotted; 
	BORDER-LEFT: #000000 1px dotted; 
	BORDER-BOTTOM: #000000 1px dotted; 
	BORDER-COLLAPSE: collapse
}
.FormatTabTD 
{
	BORDER-RIGHT: #000000 1px dotted;
	BORDER-TOP: #000000 1px dotted; 
	BORDER-LEFT: #000000 1px dotted; 
	BORDER-BOTTOM: #000000 1px dotted; 
	BORDER-COLLAPSE: collapse
}