td {  font-family: "宋体"; font-size: 12px; color: #000000; text-decoration: none}
a.menu_1:link {  font-family: "宋体"; font-size: 13px; font-weight: bold; color: #CB4206; text-decoration: none; width:100%; filter: DropShadow(Color=#FFFFFF, OffX=1, OffY=1, Positive=1)}
a.menu_1:visited {  font-family: "宋体"; font-size: 13px; font-weight: bold; color: #CB4206; text-decoration: none; width:100%; filter: DropShadow(Color=#FFFFFF, OffX=1, OffY=1, Positive=1)}
a.menu_1:hover {  font-family: "宋体"; font-size: 13px; font-weight: bold; color: #CB4206; text-decoration: none; width:100%; filter: DropShadow(Color=#FFFFFF, OffX=1, OffY=1, Positive=1)}
.notice_shad { FILTER: dropshadow(color=#FFFFFF, offx=1, offy=1, positive=1); font-family: "宋体"; FONT-SIZE: 12px; width:100%; color: #000000; text-decoration: none; }
.notice_date { font-family: "Arial"; FONT-SIZE: 12px; color: #FFFF00; text-decoration: none; }
.copyright { FILTER: dropshadow(color=#FFFFFF, offx=1, offy=1, positive=1); font-family: "宋体"; FONT-SIZE: 12px; color: #B4801B; text-decoration: none; }
.main_title { FILTER: dropshadow(color=#FFFFFF, offx=1, offy=1, positive=1); font-family: "宋体"; FONT-SIZE: 12px; color: #000000; text-decoration: none; }

/*红色的字*/
.information {  FILTER: dropshadow(color=#efefef, offx=1, offy=1, positive=1); font-family: "宋体"; font-size: 12px; color: #FF6600; text-decoration: none ; font-weight: bold}
/*标题文字*/
.table_title {  FILTER: dropshadow(color=#FFFFFF, offx=1, offy=1, positive=1); letter-spacing: 3px;font-family: "宋体"; font-size: 14px; color: #000000; text-decoration: none ; color: #330066}
/*版权区*/
.copyright {  FILTER: dropshadow(color=#FFFFFF, offx=1, offy=1, positive=1); letter-spacing: 1px;font-family: "Arial"; font-size: 12px; color: #000000; text-decoration: none ; }
/*表格*/
.pt10black {
	font-family: "宋体";
	font-size: 10pt;
	line-height: 160%;
	color: #000000;
}

/*------------------------------------------------------------*/
.abody
{
    scrollbar-face-color: #98AAB1;
	scrollbar-highlight-color: #D1D7DC;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #D1D7DC;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
}
input {  font-size: 12px; border: 1px #98AAB1 solid}
textarea {  font-size: 12px; border: 1px #98AAB1 solid}
td {  font-size: 12px; font-family: "宋体"}
.menu_title {  font-size: 12px}
.list {  font-family: "宋体"; font-size: 12px}
.input {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 10px}
.input1 {  font-size: 12px; border: 0px #98AAB1 solid}
.shuru {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 10px}
A:hover {color:black; text-decoration: none}
A:link {color: black;  text-decoration: none}
A:visited {color: black;  text-decoration: none}
/*.table1 {  width: 96%; left: 0px; top: 0px; clip:  rect(0px 0px 0px 0px); border: 1px double; border-color: #000000 #FFFFFF #FFFFFF #000000}*/
.input-1 { BORDER-BOTTOM: #A5A7A5 1px solid; BORDER-LEFT: #A5A7A5 1px solid; BORDER-RIGHT: #A5A7A5 1px solid; BORDER-TOP: #A5A7A5 1px solid; FONT-SIZE: 10px; border-color: #000000; background-color: #ffffff;  line-height: 18pt; font-family: "Verdana", "Arial", "Helvetica", "sans-serif"}
body {  font-size: 12px; line-height: 20px}
select {  font-size: 12px}
.white_til {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 12px; color: #FFFFFF; text-decoration: none}
.input_a {  font-size: 12px; text-decoration: none}
.table_bg1 {  background-color: #CCCCCC; border-color: #FFFFFF #000000 #000000 #FFFFFF; border-style: double; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.table_bg2 {  background-color: #eeeeee; border-color: #FFFFFF #000000 #000000 #FFFFFF; border-style: double; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.btnLink1{
FILTER: dropshadow(color=#FFFFFF, offx=1, offy=1, positive=1); FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; width:100%; COLOR: #339900;}
.btnLink2{
FILTER: dropshadow(color=#FFFFFF, offx=1, offy=1, positive=1); FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; width:100%; COLOR: #000000;}
.WinTitle{
FILTER: dropshadow(color=#FFFFFF, offx=1, offy=1, positive=1); FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; width:100%; COLOR: #000000;}
.disabledStyle{FILTER: Alpha(Opacity=25, FinishOpacity=50, Style=1, StartX=0, StartY=1, FinishX=200, FinishY=100)}

td {  font-size: 12px; text-decoration: none}
.label_td { text-align:right; height:42}

.date_table { padding-top: 3px; padding-bottom: 2px; padding-left: 4px; border: solid; border-width: 0px 1px 1px 1px; border-color: #FFFFFF #CFD7DA #CFD7DA #FFFFFF}
.date_table1 { padding-top: 3px; padding-bottom: 2px; padding-left: 4px; border: solid; border-width: 0px 1px 1px 1px; border-color: #FFFFFF #98AAB1 #98AAB1 #FFFFFF}
.date_table2 { padding-top: 3px; padding-bottom: 2px; padding-left: 4px; border: solid; border-width: 0px 0px 1px 1px; border-color: #FFFFFF #98AAB1 #98AAB1 #FFFFFF}

.area_table {  WIDTH: 300px; HEIGHT: 60px}

.value_style0 {color:#660099}
.value_style1 {color:#339900}
.value_style2 {color:#FF6600}
.value_style3 {color:#FF0000}
.value_style4 {color:#990066}

.input_hand {  cursor: hand}
.table_bg {  background-color: #EFEFEF; width: 99%; padding-top: 3px; padding-bottom: 2px; padding-left: 4px}
.bottom {  font-family: "宋体"; font-size: 12px; color: #000000; height: 19px}
.date {  font-family: "宋体"; font-size: 12px; height: 18px; width: 100px}
.item {  font-family: "宋体"; font-size: 12px; height: 18px; width: 100px}
.input_hand {  cursor: hand}
.table_one {  background-color: #487ED2; font-family: "宋体"; font-size: 13px; color: #FFFFFF; vertical-align: bottom}
.table_bg {  background-color: #EFEFEF; width: 96%; padding-top: 3px; padding-bottom: 2px; padding-left: 4px}
.bottom {  font-family: "宋体"; font-size: 12px; color: #000000; height: 19px; background-image: url(../images/bottom_bg.gif)}
input.check {  font-size: 12px;border: 0px }

.msel {background-color: #E6ECF5;}
.page_select1 {  font-size: 12px; text-decoration: none;height: 18px; color: #000000; background-color: #E6ECF5; width: 210px}
.page_select2 {  font-size: 12px; text-decoration: none;height: 18px; color: #000000; background-color: #E6ECF5}
.page_multisel{  font-size: 12px; text-decoration: none;color: #000000; background-color: #E6ECF5; width: 100%;}

a.top_link:visited {  text-decoration: none; color: #000000}
a.top_link:active {  text-decoration: none; color: #000000}
a.top_link:hover {  text-decoration: none; color: #3E72A7}
a.top_link:link {  text-decoration: none; color: #000000}
.closewin {  color: #FFFFFF; text-decoration: none}
a.closewin:link {  color: #FFFFFF; text-decoration: none}
a.closewin:visited {  color: #FFFFFF; text-decoration: none}
body {  font-size: 12px; line-height: 20px}

.white_til {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 12px; color: #FFFFFF; text-decoration: none}
.table_bg2 {  background-color: #eeeeee; border-color: #FFFFFF #000000 #000000 #FFFFFF; border-style: double; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.table100W {  width: 100%; background-color: #EEEEEE}
.table100L {  width: 100%}


.query_heading_l { background-color: #F5F0EC; border-color: #FFFFFF #CFD7DA #CFD7DA #FFFFFF; padding-top: 3px; padding-bottom: 2px; padding-left: 4px; font-weight: bold; padding-right: 4px; border-style: double; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 1px;}
.query_heading_r { background-color: #F5F0EC; border-color: #FFFFFF #CFD7DA #CFD7DA #FFFFFF; padding-top: 3px; padding-bottom: 2px; padding-left: 4px; font-weight: bold; text-align: right; padding-right: 4px; border-style: double; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 0px; height: 25px}


.table_heading { background-color: #F5F0EC; border-color: #FFFFFF #CFD7DA #CFD7DA #FFFFFF; padding-top: 3px; padding-bottom: 2px; padding-left: 4px; font-weight: bold; text-align: center; padding-right: 4px; border-style: double; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.list_heading { font-weight: bold; text-align: center; background-color: #F2F2F2; border: solid; border-width: 0px 1px 1px 0px; border-color: #98AAB1 #98AAB1 #98AAB1 #98AAB1}
.list_heading1 { padding-left: 3px; background-color: #E6EBF4; border-bottom:1px solid #98AAB1; border-right:1px solid #98AAB1}
.list_heading2 { padding-left: 3px; font-weight: bold; background-color: #DEE3E7; border: solid; border-width: 0px 0px 1px 0px; border-color: #98AAB1 #98AAB1 #98AAB1 #98AAB1}
.list_heading3 { padding-left: 3px; background-color: #F0F7FA; border: solid; border-width: 1px 0px 1px 0px; border-color: #98AAB1 #98AAB1 #98AAB1 #98AAB1}

.list_table {  text-align: center; border: solid; border-width: 0px 1px 1px 0px; border-color: #98AAB1 #98AAB1 #98AAB1 #98AAB1}
.list_table1 { padding-left: 3px; background-color: #F2F2F2;  border-bottom:1px solid #98AAB1}
.list_table2 {padding-top: 1px; padding-bottom: 1px; padding-left: 3px; background-color: #F2F2F2;  border-bottom:0px solid #98AAB1}

.listdiv {padding-top: 3px; padding-bottom: 1px; padding-left: 3px; cursor:hand}
.listdivheading {font-weight:bold; padding-left: 1px; padding-top: 0px; padding-bottom: 0px; background-color: #F2F2F2; border-bottom:1px solid #98AAB1}
.listExtDiv{font-weight:bold; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; color: #003399}

.listFieldHead{padding-left: 3px; padding-top: 2px; padding-bottom: 0px; border-bottom:0px solid #98AAB1}
.listField{padding-left: 3px; padding-top: 2px; padding-bottom: 2px;}
.extInfo{border-bottom:1px solid #98AAB1;}

.table1 {  background-color: #FCFAF8; width: 96%; left: 0px; top: 0px; clip:  rect(0px 0px 0px 0px); border: 1px solid; border-color: #CFD7DA #FFFFFF #FFFFFF #CFD7DA}
.table2 { left: 0px; top: 0px; clip:  rect(0px 0px 0px 0px); border: 1px double; border-color: #98AAB1 #98AAB1 #FFFFFF #F2F2F2}
.table3 {  border: 1px #CFD7DA solid; padding-top: 3px; padding-right: 4px; padding-bottom: 2px; padding-left: 4px; clip:  rect(   ); width: 96%; background-color: #FCFAF8}
.table4 {  border: 1px #CFD7DA solid; padding-top: 3px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; clip:  rect(   ); width: 96%; background-color: #FCFAF8}

.cortrol_table { background-color: #f2f2f2; vertical-align: bottom; padding-top: 3px; padding-bottom: 2px; padding-left: 4px; border: solid; border-width: 0px 1px 1px 0px; border-color: #FFFFFF #CFD7DA #CFD7DA #FFFFFF ; padding-right: 4px; font-weight:bold; color: #888888}
.tabelend { background-color: #E5E5E5; border: solid; border-width: 0px 1px 1px 0px; border-color: #98AAB1 #98AAB1 #98AAB1 #98AAB1}
.navigation {  font-family: "宋体"; font-size: 14px; color: #000000; text-decoration: none; font-weight: bold}

.toplink {  font-family: "宋体"; font-size: 12px; color: #000000; text-decoration: none}
.inupt_selec {  text-align: center; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.table1100 { width: 100%; left: 0px; top: 0px; clip: rect(0px 0px 0px 0px); border: 1px solid; border-color: #999999 #FFFFFF #FFFFFF #999999 }
.topboder {  font-family: "宋体"; font-size: 12px; border-color: #CFD7DA #CFD7DA #CFD7DA; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-color: #f2f2f2}a.l_blue:link {
	color: #0000FF;
}
a.l_blue:visited {
	color: #333333;
}
a.l_blue:hover {
	color: #0000FF;
}


/*孟腊春加*/
/*一级菜单_非当前*/
a.men1:link {  font-family: "宋体"; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: none; line-height: 29px}
a.men1:visited {  font-family: "宋体"; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: none; line-height: 29px}
a.men1:hover {  font-family: "宋体"; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: none; line-height: 29px}
/*一级菜单_当前*/
a.men2:link {  font-family: "宋体"; font-size: 12px; font-weight: bold; color: #FFDE00; text-decoration: none; line-height: 29px}
a.men2:visited {  font-family: "宋体"; font-size: 12px; font-weight: bold; color: #FFDE00; text-decoration: none; line-height: 29px}
a.men2:hover {  font-family: "宋体"; font-size: 12px; font-weight: bold; color: #FFDE00; text-decoration: none; line-height: 29px}
/*二级菜单*/
a.men3:link {  font-family: "宋体"; font-size: 12px; font-weight: bold; width:100%; color: #96674E; text-decoration: none; line-height: 26px;}
a.men3:visited {  font-family: "宋体"; font-size: 12px; font-weight: bold; width:100%; color: #96674E; text-decoration: none; line-height: 26px;}
a.men3:hover {  font-family: "宋体"; font-size: 12px; font-weight: bold; width:100%; color: #96674E; text-decoration: none; line-height: 26px;}
/*三级菜单*/
a.men4:link {  font-family: "宋体"; font-size: 12px; width:100%; color: #000000; text-decoration: none; line-height: 26px;filter: DropShadow(Color=#FFFFFF, OffX=1, OffY=1, Positive=1)}
a.men4:visited {  font-family: "宋体"; font-size: 12px; width:100%; color: #000000; text-decoration: none; line-height: 26px;filter: DropShadow(Color=#FFFFFF, OffX=1, OffY=1, Positive=1)}
a.men4:hover {  font-family: "宋体"; font-size: 12px; width:100%; color: #000000; text-decoration: none; line-height: 26px;filter: DropShadow(Color=#FFFFFF, OffX=1, OffY=1, Positive=1)}
/*表格*/
.table_td01 {  font-family: "宋体", "仿宋_GB2312", "黑体";font-size: 12px; color: #333333; background-color: #FFFFFF}.white {  font-family: "宋体"; font-size: 12px; color: #FFFFFF; text-decoration: none}
/*white*/
.white {  font-family: "宋体"; font-size: 12px; color: #FFFFFF; text-decoration: none}