
TABLE.Toolbar
{
	BORDER-RIGHT: #FFCCCC 1px solid;
}
TABLE.Toolbar TD
{
	BACKGROUND-COLOR: #FFCCCC;
	BORDER-BOTTOM: #FFCCCC	1px solid;
	BORDER-RIGHT: #FFCCCC 1px solid;
	BORDER-TOP:	#FFCCCC	1px solid;
	HEIGHT: 27px;
	LEFT: 0px;
	POSITION: relative;
	TOP: 0px;
}

BODY
{
	BACKGROUND-COLOR:#FFCCCC;
	MARGIN: 0px;
	PADDING: 0px;
}
