/* dropdownlist 控件的下拉出来的表格的样式 */
#fc_list 
{
	font-size:12;border-color:#B8B7B7;	
}  
/* 下拉列表中的表格首行td */
#fc_list .firstrow td
{
	border-left:1px solid white; border-top: 2px solid white; border-bottom: 1px solid #818080; border-right:1px solid #B8B7B7;background-color: #FFCCCC;
}
/*斑马纹,即每隔行的样式   */
#fc_list .pertworow
{
	background-color:#FFFAFA;
}
/*找到行的样式*/
#fc_list .findrow
{
	color:Red;
}
/*选择行的样式*/
#fc_list .selectrow
{
	background-color:blue;color:White;
}
/*iframe的body*/
BODY {
	SCROLLBAR-FACE-COLOR: #FFCCCC; SCROLLBAR-HIGHLIGHT-COLOR: #FFAFAD; SCROLLBAR-SHADOW-COLOR: #FFAFAD; SCROLLBAR-3DLIGHT-COLOR: #FFDAD9; SCROLLBAR-ARROW-COLOR: #0E170F; SCROLLBAR-TRACK-COLOR: #FFEDED; SCROLLBAR-DARKSHADOW-COLOR: #FFDAD9
}