<?xml version="1.0" encoding="gb2312"?>
<TreeNode roottarget="design" >

<TreeNode text="基本报表" href="../../fceform/common/djframe.htm?djsn=eb_1_0&amp;djtype=ET" target="design" >
	<TreeNode text="网格式列表" href="../../fceform/common/djframe.htm?djsn=eb_1_1&amp;djtype=ET" target="design" />
	<TreeNode text="卡片式报表" href="../../fceform/common/djframe.htm?djsn=eb_1_2&amp;djtype=ET" target="design" />
	<TreeNode text="主从表" href="../../fceform/common/djframe.htm?djsn=eb_1_3&amp;djtype=ET" target="design" />
	<TreeNode text="简单分组统计表" href="../../fceform/common/djframe.htm?djsn=eb_1_4&amp;djtype=ET" target="design" />
	<TreeNode text="简单交叉表" href="../../fceform/common/djframe.htm?djsn=eb_1_5&amp;djtype=ET" target="design" />
	<TreeNode text="自由格式表" href="../../fceform/common/djframe.htm?djsn=eb_1_6&amp;djtype=ET" target="design" />
</TreeNode>	

<TreeNode text="复杂样式报表" href="../../fceform/common/djframe.htm?djsn=eb_2_0&amp;djtype=ET" target="design" >
	<TreeNode text="表格斜线" href="../../fceform/common/djframe.htm?djsn=eb_2_1&amp;djtype=ET" target="design" />
	<TreeNode text="根据条件变样式" href="../../fceform/common/djframe.htm?djsn=eb_2_2&amp;djtype=ET" target="design" />
	<TreeNode text="隔行底色为红色" href="../../fceform/common/djframe.htm?djsn=eb_2_3&amp;djtype=ET" target="design" />
	<TreeNode text="用超级链接实现钻取" href="../../fceform/common/djframe.htm?djsn=eb_2_4&amp;djtype=ET" target="design" />
	<TreeNode text="横向扩展时位置居右" href="../../fceform/common/djframe.htm?djsn=eb_2_5&amp;djtype=ET" target="design" />
	<TreeNode text="固定行数报表" href="../../fceform/common/djframe.htm?djsn=eb_2_6&amp;djtype=ET" target="design" />
	<TreeNode text="内容折行" href="../../fceform/common/djframe.htm?djsn=eb_2_7&amp;djtype=ET" target="design" />
	<TreeNode text="财务金额显示" href="../../fceform/common/djframe.htm?djsn=eb_2_8&amp;djtype=ET" target="design" />
	<TreeNode text="立体效果" href="../../fceform/common/djframe.htm?djsn=eb_2_9&amp;djtype=ET" target="design" />
	<TreeNode text="一行显示两条记录" href="../../fceform/common/djframe.htm?djsn=eb_2_11&amp;djtype=ET" target="design" />
</TreeNode>		

<TreeNode text="复杂运算报表" href="../../fceform/common/djframe.htm?djsn=eb_3_0&amp;djtype=ET" target="design" >
	<TreeNode text="多级分组报表" href="../../fceform/common/djframe.htm?djsn=eb_3_1&amp;djtype=ET" target="design" />
	<TreeNode text="多级交叉表" href="../../fceform/common/djframe.htm?djsn=eb_3_2&amp;djtype=ET" target="design" />
	<TreeNode text="多级分组交叉表" href="../../fceform/common/djframe.htm?djsn=eb_3_3&amp;djtype=ET" target="design" />
	<TreeNode text="不规则分组" href="../../fceform/common/djframe.htm?djsn=eb_3_4&amp;djtype=ET" target="design" />
	<TreeNode text="纵向分片同时扩展" href="../../fceform/common/djframe.htm?djsn=eb_3_5&amp;djtype=ET" target="design" />
	<TreeNode text="多源" href="../../fceform/common/djframe.htm?djsn=eb_3_6&amp;djtype=ET" target="design" />
	<TreeNode text="重复划分" href="../../fceform/common/djframe.htm?djsn=eb_3_7&amp;djtype=ET" target="design" />
	<TreeNode text="横向分片同时扩展" href="../../fceform/common/djframe.htm?djsn=eb_3_8&amp;djtype=ET" target="design" />
	<TreeNode text="部分汇总" href="../../fceform/common/djframe.htm?djsn=eb_3_9&amp;djtype=ET" target="design" />
	<TreeNode text="含多个明细表" href="../../fceform/common/djframe.htm?djsn=eb_3_10&amp;djtype=ET" target="design" />
	<TreeNode text="固定行列的交叉表" href="../../fceform/common/djframe.htm?djsn=eb_3_11&amp;djtype=ET" target="design" />
	<TreeNode text="交叉点有多个内容" href="../../fceform/common/djframe.htm?djsn=eb_3_12&amp;djtype=ET" target="design" />
</TreeNode>	

<TreeNode text="常用的特别报表" href="../../fceform/common/djframe.htm?djsn=eb_4_0&amp;djtype=ET" target="design" >
	<TreeNode text="累积运算" href="../../fceform/common/djframe.htm?djsn=eb_4_1&amp;djtype=ET" target="design" />
	<TreeNode text="排名" href="../../fceform/common/djframe.htm?djsn=eb_4_2&amp;djtype=ET" target="design" />
	<TreeNode text="占比" href="../../fceform/common/djframe.htm?djsn=eb_4_3&amp;djtype=ET" target="design" />
	<TreeNode text="上期比同期比" href="../../fceform/common/djframe.htm?djsn=eb_4_4&amp;djtype=ET" target="design" />
	<TreeNode text="多级序号" href="../../fceform/common/djframe.htm?djsn=eb_4_5&amp;djtype=ET" target="design" />
	<TreeNode text="三列序号" href="../../fceform/common/djframe.htm?djsn=eb_4_6&amp;djtype=ET" target="design" />
	<TreeNode text="跨空格的序号" href="../../fceform/common/djframe.htm?djsn=eb_4_7&amp;djtype=ET" target="design" />
</TreeNode>		
	
<TreeNode text="for.Net版的统计图表" href="../../fceform/common/djframe.htm?djsn=eb_5_0&amp;djtype=ET" target="design" >
	<TreeNode text="直方图" href="../../fceform/common/djframe.htm?djsn=eb_5_1&amp;djtype=ET" target="design" />
	<TreeNode text="折线图" href="../../fceform/common/djframe.htm?djsn=eb_5_2&amp;djtype=ET" target="design" />
	<TreeNode text="园饼图" href="../../fceform/common/djframe.htm?djsn=eb_5_3&amp;djtype=ET" target="design" />
	<TreeNode text="多系列图" href="../../fceform/common/djframe.htm?djsn=eb_5_4&amp;djtype=ET" target="design" />
	<TreeNode text="多系列立体图" href="../../fceform/common/djframe.htm?djsn=eb_5_5&amp;djtype=ET" target="design" />
	<TreeNode text="统计图扩展" href="../../fceform/common/djframe.htm?djsn=eb_5_6&amp;djtype=ET" target="design" />
	<TreeNode text="图文报表" href="../../fceform/common/djframe.htm?djsn=eb_2_10&amp;djtype=ET" target="design" />
</TreeNode>		
<TreeNode text="for J2EE版的统计图表" href="../../fceform/common/djframe.htm?djsn=eb_5_0&amp;djtype=ET" target="design" >
	<TreeNode text="直方图" href="../../fceform/common/djframe.htm?djsn=eb_5b_1&amp;djtype=ET" target="design" />
	<TreeNode text="折线图" href="../../fceform/common/djframe.htm?djsn=eb_5b_2&amp;djtype=ET" target="design" />
	<TreeNode text="园饼图" href="../../fceform/common/djframe.htm?djsn=eb_5b_3&amp;djtype=ET" target="design" />
	<TreeNode text="堆积直方图" href="../../fceform/common/djframe.htm?djsn=eb_5b_4&amp;djtype=ET" target="design" />
	<TreeNode text="堆积折线图" href="../../fceform/common/djframe.htm?djsn=eb_5b_5&amp;djtype=ET" target="design" />
	<TreeNode text="统计图扩展" href="../../fceform/common/djframe.htm?djsn=eb_5b_6&amp;djtype=ET" target="design" />
	<TreeNode text="图文报表" href="../../fceform/common/djframe.htm?djsn=eb_5b_7&amp;djtype=ET" target="design" />
</TreeNode>		

<TreeNode text="带图片的报表" href="../../fceform/common/djframe.htm?djsn=eb_6_0&amp;djtype=ET" target="design" >
	<TreeNode text="带Logo图片" href="../../fceform/common/djframe.htm?djsn=eb_6_1&amp;djtype=ET" target="design" />
	<TreeNode text="带背景图片" href="../../fceform/common/djframe.htm?djsn=eb_6_2&amp;djtype=ET" target="design" />
	<TreeNode text="带照片的简历表" href="../../fceform/common/djframe.htm?djsn=eb_6_4&amp;djtype=ET" target="design" />
</TreeNode>	

<TreeNode text="打印" href="../../fceform/common/djframe.htm?djsn=eb_7_0&amp;djtype=ET" target="design" >
	<TreeNode text="分栏打印" href="../../fceform/common/djframe.htm?djsn=eb_7_1&amp;djtype=ET" target="design" />
	<TreeNode text="报表区域" href="../../fceform/common/djframe.htm?djsn=eb_7_2&amp;djtype=ET" target="design" />
	<TreeNode text="支票套打" href="../../fceform/common/djframe.htm?djsn=eb_7_3&amp;djtype=ET" target="design" />
	<TreeNode text="强行分页" href="../../fceform/common/djframe.htm?djsn=eb_7_4&amp;djtype=ET" target="design" />
</TreeNode>	

<TreeNode text="参数和宏" href="../../fceform/common/djframe.htm?djsn=eb_8_0&amp;djtype=ET" target="design" >
	<TreeNode text="参数示例" href="../../fceform/common/djframe.htm?djsn=eb_8_1&amp;djtype=ET" target="design" />
	<TreeNode text="模糊查询" href="../../fceform/common/djframe.htm?djsn=eb_8_2&amp;djtype=ET" target="design" />
	<TreeNode text="参数表单" href="../../fceform/common/djframe.htm?djsn=eb_8_3&amp;djtype=ET" target="design" />
	<TreeNode text="弹出式参数表单" href="../../fceform/common/djframe.htm?djsn=eb_8_4&amp;djtype=ET" target="design" />
	<TreeNode text="参数表单的数据验证" href="../../fceform/common/djframe.htm?djsn=eb_8_5&amp;djtype=ET" target="design" />
	<TreeNode text="含连动选择的参数表单" href="../../fceform/common/djframe.htm?djsn=eb_8_6&amp;djtype=ET" target="design" />
	<TreeNode text="为空则忽略的查询条件" href="../../fceform/common/djframe.htm?djsn=eb_8_7&amp;djtype=ET" target="design" />
	<TreeNode text="通过宏传入表达式" href="../../fceform/common/djframe.htm?djsn=eb_8_8&amp;djtype=ET" target="design" />
	<TreeNode text="通过宏传入单元格" href="../../fceform/common/djframe.htm?djsn=eb_8_9&amp;djtype=ET" target="design" />
	<TreeNode text="通过宏实现动态列" href="../../fceform/common/djframe.htm?djsn=eb_8_10&amp;djtype=ET" target="design" />
	<TreeNode text="通过宏实现动态分组" href="../../fceform/common/djframe.htm?djsn=eb_8_11&amp;djtype=ET" target="design" />
	<TreeNode text="用宏实现点击标题排序" href="../../fceform/common/djframe.htm?djsn=eb_8_12&amp;djtype=ET" target="design" />
</TreeNode>	


<TreeNode text="子报表" href="../../fceform/common/djframe.htm?djsn=eb_9_0&amp;djtype=ET" target="design" >
	<TreeNode text="引入子报表" href="../../fceform/common/djframe.htm?djsn=eb_9_1&amp;djtype=ET" target="design" />
	<TreeNode text="子报表一" href="../../fceform/common/djframe.htm?djsn=eb_9_2&amp;djtype=ET" target="design" />
	<TreeNode text="跨表取数" href="../../fceform/common/djframe.htm?djsn=eb_9_3&amp;djtype=ET" target="design" />
</TreeNode>		

<TreeNode text="报表函数练习" href="../../fceform/common/djframe.htm?djsn=eb_10_0&amp;djtype=ET" target="design" >
	<TreeNode text="数据集函数" href="../../fceform/common/djframe.htm?djsn=eb_10_1&amp;djtype=ET" target="design" />
	<TreeNode text="单元格函数" href="../../fceform/common/djframe.htm?djsn=eb_10_2&amp;djtype=ET" target="design" />
	<TreeNode text="常用函数" href="../../fceform/common/djframe.htm?djsn=eb_10_3&amp;djtype=ET" target="design" />
	<TreeNode text="日期函数" href="../../fceform/common/djframe.htm?djsn=eb_10_4&amp;djtype=ET" target="design" />
	<TreeNode text="数学函数" href="../../fceform/common/djframe.htm?djsn=eb_10_5&amp;djtype=ET" target="design" />
	<TreeNode text="字符串函数" href="../../fceform/common/djframe.htm?djsn=eb_10_6&amp;djtype=ET" target="design" />
	<TreeNode text="转换函数" href="../../fceform/common/djframe.htm?djsn=eb_10_7&amp;djtype=ET" target="design" />
</TreeNode>		

<TreeNode text="自定义工具栏" href="../../fceform/common/djframe.htm?djsn=eb_11_0&amp;djtype=ET" target="design" icon="ef_tree_root" >
	<TreeNode text="标准工具栏" href="../../fceform/ereport/ebrun.htm?name=samples/s_累积计算" target="design" />
	<TreeNode text="自定义工具栏" href="../../fceform/ereport/ebrun.htm?name=samples/s_累积计算&amp;tbtype=userdefine" target="design" />
	<TreeNode text="工具栏样式(light)" href="../../fceform/ereport/ebrun.htm?name=samples/s_累积计算&amp;tbcss=light" target="design" />
	<TreeNode text="工具栏样式(blue)" href="../../fceform/ereport/ebrun.htm?name=samples/s_累积计算&amp;tbcss=blue" target="design" />
	<TreeNode text="工具栏样式(green)" href="../../fceform/ereport/ebrun.htm?name=samples/s_累积计算&amp;tbcss=green" target="design" />
	<TreeNode text="工具栏样式(base)" href="../../fceform/ereport/ebrun.htm?name=samples/s_累积计算&amp;tbcss=base" target="design" />
</TreeNode>		
<TreeNode text="其它" href="../../fceform/common/djframe.htm?djsn=eb_bb_main&amp;djtype=ET" target="design" />
<TreeNode text="新的示例" href="../../fceform/common/djframe.htm?djsn=eb_bb_new&amp;djtype=ET" target="design" />
<TreeNode text="进入报表设计器" href="../../fceform/ereport/ebdesign.htm"  />

</TreeNode>
