
TABLE.Toolbar
{
	BORDER-RIGHT: #FFFFCC 1px solid;
}
TABLE.Toolbar TD
{
	BACKGROUND-COLOR: #FFFFCC;
	BORDER-BOTTOM: #FFFFCC	1px solid;
	BORDER-RIGHT: #FFFFCC 1px solid;
	BORDER-TOP:	#FFFFCC	1px solid;
	HEIGHT: 27px;
	LEFT: 0px;
	POSITION: relative;
	TOP: 0px;
}
BODY
{
	BACKGROUND-COLOR:#FFFFCC;
	MARGIN: 0px;
	PADDING: 0px;
}
