
.ef_out {
	position:absolute;
	left:-3000px;
}
/* label 控件*/
.ef_input_label_out{
	color:#0D0D0A;
}
/* text 控件*/
.ef_input_text_out{
	border:1px solid #FFFFCC;
	color:#333;background:#fff;
}
.ef_input_text_over{
	border:1px solid #FFFFCC;
	 background:#fff;
}
/* button 控件*/
.ef_input_button_out{
	background:url("../images/button.png") no-repeat 0px -50px;
	height:25px;line-height:25px;border:0px;font-size:12px
}
.ef_input_button_right_out{
	background:url("../images/button.png") no-repeat right 0px;
	height:25px;line-height:25px;border:0px;
}
.ef_input_button_over{
	background:url("../images/button.png") no-repeat 0px -150px;
	height:25px;line-height:25px;border:0px;font-size:12px;
}
.ef_input_button_right_over{
	background:url("../images/button.png") no-repeat right -100px;
	height:25px;line-height:25px;border:0px;
}
.ef_input_button_down{
	background:url("../images/button.png") no-repeat 0px -250px;
	height:25px;line-height:25px;border:0px;font-size:12px;
}
.ef_input_button_right_down{
	background:url("../images/button.png") no-repeat right -200px;
	height:25px;line-height:25px;border:0px;
}
/* checkbox 控件*/
.ef_input_checkbox_nocheck_out{
	background:url("../images/checkbox.png") no-repeat -47px 0px;
	width:20px;height:20px;
}
.ef_input_checkbox_nocheck_over{
	background:url("../images/checkbox.png") no-repeat -47px -25px;
	width:20px;height:20px;
}
.ef_input_checkbox_nocheck_disabled{
	background:url("../images/checkbox.png") no-repeat -47px -75px;
	width:20px;height:20px;
}
.ef_input_checkbox_check_out{
	background:url("../images/checkbox.png") no-repeat -22px 0px;
	width:20px;height:20px;
}
.ef_input_checkbox_check_over{
	background:url("../images/checkbox.png") no-repeat -22px -25px;
	width:20px;height:20px;
}
.ef_input_checkbox_check_disabled{
	background:url("../images/checkbox.png") no-repeat -22px -75px;
	width:20px;height:20px;
}
/* checkbox 控件上的文本*/
.ef_checkbox_label{
	color:#0D0D0A;
}

/* radio 控件*/
.ef_input_radio_nocheck_out{
	background:url("../images/radio.png") no-repeat -47px 0px;
	width:20px;height:20px;
}
.ef_input_radio_nocheck_over{
	background:url("../images/radio.png") no-repeat -47px -25px;
	width:20px;height:20px;
}
.ef_input_radio_nocheck_disabled{
	background:url("../images/radio.png") no-repeat -47px -75px;
	width:20px;height:20px;
}

.ef_input_radio_check_out{
	background:url("../images/radio.png") no-repeat -22px 0px;
	width:20px;height:20px;
}
.ef_input_radio_check_over{
	background:url("../images/radio.png") no-repeat -22px -25px;
	width:20px;height:20px;
}
.ef_input_radio_check_disabled{
	background:url("../images/radio.png") no-repeat -22px -75px;
	width:20px;height:20px;
}
/* radio 控件上的文本*/
.ef_radio_label{
	color:#0D0D0A;
} 

/**
*grid控件的样式 
**/
.tdfilter { 
	/*progid:DXImageTransform.Microsoft.BasicImage(invert=1);
    */
	filter: Invert;
	background-color:#ffff32 ;
 }  
.tdfilter1 
{
	color:#ffffff ;
	background-color:#0000cd ;
 }   
/* table的外框的样式 */
#SKbillsheet #fcwebgriddiv  
{
	background-color:#ffffff;BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid;BORDER-COLOR:#B8B8B8;
}

/* table的样式 */
#SKbillsheet #fcwebgriddiv #t  
{
	BACKGROUND-COLOR:#FFFFFF;FONT-FAMILY:MS Sans Serif;FONT-SIZE:11px;color:#000000;
}
/* 表格的首行 */
#SKbillsheet #fcwebgriddiv #t .fcGridFirstRow 
{
	BACKGROUND-COLOR:#FFFFCC ;FONT-SIZE:12px;FONT-WEIGHT:bold;
}
/* 表格的首行td */
#SKbillsheet #fcwebgriddiv #t .fcGridFirstRow td
{
	BORDER-RIGHT: #a0a0a0 1px solid; 
}

/* table的td样式 */
#SKbillsheet #fcwebgriddiv #t td
{
	
}

/* 表格控件内的编辑框 */
#SKbillsheet #txtMyGrid 
{
	BACKGROUND-COLOR: white; BORDER-BOTTOM-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none;
}
/* 垂直滚动条的样式 */
#SKbillsheet #fchtcDiv1
{
	BACKGROUND-COLOR: #EEEDE5; BORDER-RIGHT: gray 0px solid; 
}
/* 水平滚动条的样式 */
#SKbillsheet #fchtcDiv2
{
	BACKGROUND-COLOR: #EEEDE5; BORDER-RIGHT: gray 0px solid; 
}
/*表格右下角的填补块*/
#SKbillsheet #divconer {
	BACKGROUND-COLOR: #EEEDE5; BORDER-BOTTOM: 0px solid; BORDER-RIGHT: 0px solid;font-size:9px;
}

/* dropdownlist 的编辑框样式 */
#fc_txtName 
{
	border :1px solid #FFFFCC;
}